<h1>Pages#contact</h1>
<p><%= number_to_phone "88005553535", area_code: true %></p>

<p><%= number_to_currency "150", unit: "₽" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "43243242342" %></p>

